:root {
    --back-color-app: rgb(92, 77, 221);
    --front-color: rgb(255, 255, 255);
	--link-color: rgb(0, 14, 136);
	--chat-front-color: var(--front-color);
	--chat-back-color: var(--back-color-app);
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--back-color-app);
}

::-webkit-scrollbar-thumb {
	background: var(--front-color);
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
    font-family: 'Roboto', sans-serif;
	font-size: 22px;
    background-color: var(--back-color-app);
    color: var(--front-color);
	overflow-x: hidden;
	overflow-y: scroll;
}

h1 {
	margin: auto;
	text-align: center;
	color: var(--front-color);
	font-weight: 600;
	font-family: verdana;
	padding-bottom: 15px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
				 0 3px 0 #ccc, 0 4px 0 #ccc,
				 0 5px 0 #ccc, 0 6px 0 #ccc,
				 0 7px 0 #ccc, 0 8px 0 #ccc;
}

a {
	text-decoration: none;
	color: var(--front-color)
}

a:hover {
	color: var(--link-color)
}

.my-title {
	margin: auto;
	text-align: center;
	color: white;
	font-weight: 600;
	font-family: verdana;
	padding-bottom: 15px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
				 0 3px 0 #ccc, 0 4px 0 #ccc,
				 0 5px 0 #ccc, 0 6px 0 #ccc,
				 0 7px 0 #ccc, 0 8px 0 #ccc;
}

.my-small-font {
	font-size: 20px;
}

.my-front-page {
	z-index: 1;
}

.toggle-switch {
    position: relative;
    width: 50px;
}
  
.my-label-switch {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #28292c;
    border-radius: 50px;
    cursor: pointer;
  }

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    top: 3.5px;
    left: 4px;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    box-shadow: inset 7px -1px 0px 0px #d8dbe0;
    background-color: #28292c;
    transition: 0.3s;
}

.my-input-switch {
	width: 0;
	height: 0;
}

.my-input-switch:checked ~ .slider {
    background-color: #d8dbe0;
}

.my-input-switch:checked ~ .slider::before {
    transform: translateX(23.5px);
    background-color: #28292c;
    box-shadow: none;
}

.color-container {
    background-color: var(--back-color-app);
    border-color: var(--front-color);
    color: var(--front-color)
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-undefined {
	border: 15px;
	padding: 15px;
	border-radius: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.image-mid-container {
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
}

.image-big-container {
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
}

.title-center-big {
	margin: auto;
	width: 50%;
    font-size: 50px;
    text-align: center;
    border-style: double;
    border-inline: 25px;
    border-width: 10px;
    border-radius: 0.3em;
}

.shrink {
	margin-block: initial;
	padding-block: initial;
}

.my-textarea {
	height : 10em;
}

.my-page-footer {
	position: relative;
	bottom: 0;
}

.my-global-container {
	border-color: var(--chat-front-color);
	border-width: 1px;
	border-style: solid;
}

.my-soup-border {
	border-radius: 50px;
}

.my-marging {
	margin: 10px 5px;
}

.my-padding {
	padding-right: 3%;
	padding-left: 6%;
}

.my-btn-margeur {
	margin-left: 5px;
}

.member-delete-btn {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 2px;
	right: 0px;
	
}

.chat-container {
	max-width: 1100px;
	background: var(--chat-back-color);
	margin: 30px auto;
	overflow: hidden;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	border-color: var(--chat-front-color);
	padding: 20px 20px 60px;
	overflow-y: scroll;
	max-height: 500px;
}

.chat-sidebar h3 {
	font-size: 15px;
	margin-bottom: 10px;
	overflow-x: hidden;
}

.chat-sidebar ul {
	margin-bottom: 30px;
}

.chat-sidebar ul li {
	padding-block: initial;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow-x: hidden;
}

.chat-sidebar ul li a {
	color: var(--chat-front-color);
	text-decoration: none;
}

.chat-messages {
	padding: 30px;
	background-color: var(--chat-front-color);
	overflow-y: scroll;
	color:var(--front-color);
	max-height: 500px;
}

.chat-messages .message {
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	background-color: var(--chat-back-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--chat-front-color);
	opacity: 0.7;
	margin-bottom: 1px;
}

.chat-messages .message .meta span {
	color: rgb(0, 0, 0);
	margin-left: 5px;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--chat-back-color);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.invisible {
	opacity: 0;
	width: 0px;
	height: 0px;
}

#btn-Send {
	margin-left: 10px;
}

#msg {
	border-radius: 5px;
}
