extends ../layout 

block content
    header.join-header
        h1 #{title}
    br
    form(id='add_article')
        #form-groupe
            label Title : 
            input.form-control.color-container(id='title_input',name='title', type='text')
        #form-groupe
            label Picture : 
            input.form-control.color-container(id='image_input',name='image', type='file', accept='image/png, image/jpg, image/jpeg')
        #form-groupe
            label Body : 
            textarea.form-control.color-container.my-textarea(id='body_input',name='body')
        br
        input.btn.btn-primary(type='submit', value='Submit')
