extends layout 

block content
    .container 
        .container
            header.join-header
                div.title-center-big
                    h1.my-title #{title}
        p Bonjour et bienvenue sur le bazzard 404. Ce site est un projet est amas de plus petit projet qui pour le moment ne sont pas encore très lié. Mais qui on été regroupé dans un seul site web, donc au fur et à mesure que se projet évolue il changera encore dans son contenue et dans son aspect. 
        br
        p Vous pourrez retrouver toute la documentation sur 
            a(href='https://github.com/anulax1225/bazzard404', target='_blank') github    
        br
        p Si vous avez de bonne idée d'amélioration à apporté au site ou si vous rencontrez un bug durant votre exploration. 
        br
        img.image-big-container.invisible(src='/img/indienTropBeau.png')
