extends layout 

block content
    .container 
        .container
            header.join-header
                div.title-center-big
                    h1.my-title #{title}
        p Bonjour et bienvenue sur le bazzard 404. Ce site est un projet est amas de plus petit projet qui pour le moment ne sont pas encore très lié. Mais qui on été regroupé dans un seul site web, donc au fur et à mesure que se projet évolue il changera encore dans son contenue et dans son aspect. 
        br
        p.example Pour le moment sans un compte enregister sur le site web, il est possible: 
        ul.list-group()
            li.list-group-item.color-container De lire les articles écris sur le site dans la section Articles 
        br
        p.exemple Pour le moment avec un compte enregister sur le site, il est possible: 
        ul.list-group()
            li.list-group-item.color-container D'écrire des articles dans un style ressemblant un peu a un forum dans la section Add articles.
            li.list-group-item.color-container D'éditier, supprimer les articles qui ne nous convinent pas dans la section Articles => Article => Edit ou Delete.
            li.list-group-item.color-container D'acceder à divers chatroom réservé au utilisateurs dans la section hub puis entrer le nom de la chatroom a atteindre.
        br
        p Si vous avez de bonne idée d'amélioration à apporté au site ou si vous rencontrez un bug durant votre exploration. 
        br
        img.image-big-container.invisible(src='/img/indienTropBeau.png')
