extend ../layout

block content
    header.join-header
        h1 #{title} 
    br

    h3 Username : #{user}
    if articles
        h5 Written articles :
        ul.list-group()
            each article, i in articles
                li.list-group-item.color-container 
                    a.page-link(href='/articles/'+article.id)= article.title
    else 
        p.alert-undefined User didn't poste any articles.
    br
    if rooms 
        h5 Owner of the rooms :
        ul.list-group()
            each room, i in rooms
                li.list-group-item.color-container 
                    a.page-link(href='/chat/room/'+room)= room
    else 
        p.alert-undefined User didn't create any room.



